<ion-card #mycards1 swing-card class="card-component">
    <ion-row>
        <ion-card-header>
            <div class="text-center">
                {{ lei.siglaTipo }} {{lei.numero}} / {{ lei.ano }}
            </div>
        </ion-card-header>
    </ion-row>

    <ion-row>
        <ion-item>
            <ion-avatar item-start>
                <img src="{{ lei.autores[0].foto }}">
            </ion-avatar>
            <h2> {{ lei.autores[0].nome }} </h2>
        </ion-item>
    </ion-row>

    <ion-card-content>
        {{ lei.ementa }}
    </ion-card-content>

</ion-card>