page-detalhes-lei {
  ion-header {
    .toolbar-background {
      background-color: #090044;
    }
    .toolbar-title,
    .back-button {
      color: white;
    }
  }

  .color-text {
    color: #090044;
  }
  .grey-text {
    color: grey;
  }
}
