page-analytics {
  .sad-icon {
    width: 50%;
    height: 50%;
    font-size: 2em;
  }
  .analytics-container {
    padding-top: 1em;
    max-width: 100%;
  }
  .image-container {
    height: 10em;
  }
  .matches-container {
    padding-top: 3em;
  }
}
