page-leis {
  .card-container {
    height: 70%;
    padding: 5%, 0, 5%;
  }

  .buttons-container {
    height: 20%;
  }

  .information {
    background-color: white;
    margin-top: 10%;
    margin-bottom: auto;
  }

  .botao-like {
    height: 120px;
    width: 120px;
  }
}
